.refund {
  width: 70%;
  margin: 60px;
  color: #cecccc;
}

.refund-inputs {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.refund-inputs input {
  padding: 8px;
  background: #000;
  border: 1px solid #444;
  color: white;
}

.refund-inputs button {
  padding: 8px 14px;
  background: #ff2600;
  border: none;
  color: white;
  cursor: pointer;
}

.clear-btn {
  background: #f44336;
}

.refund-table {
  width: 100%;
  border-collapse: collapse;
  background: black;
  border: 1px solid #444;
}

.refund-table th,
.refund-table td {
  border: 1px solid #444;
  padding: 10px;
  text-align: center;
}
